<div>
  <div class="component-container-title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-color-grey-150">角色列表</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span class="lead text-color-grey-200" >查看系统所有角色</span>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="container component-container-body">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>名称</th>
        <th>说明</th>
        <th class="text-right">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roleList">
        <td>{{role.name}}</td>
        <td>{{role.description}}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-success" routerLink="/home/role/{{role.id}}/update" routerLinkActive="active"><i class="icon-edit"></i> 更新</button>
          <button class="btn btn-sm btn-danger" (click)="delete(role.id)"><i class="icon-trash"></i> 删除</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


