<div>
  <div class="component-container-title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-color-grey-150">{{isEditMode?'修改用户':'添加用户'}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span class="lead text-color-grey-200" >{{isEditMode?'修改用户信息':'创建新用户类型'}}</span>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="container component-container-body">
    <form name="userForm">
      <div class="form-group">
        <label for="userFormName">用户名</label>
        <input type="text" class="form-control" id="userFormName" name="userFormName" placeholder="请输入用户名称" [(ngModel)]="userForm.name">
      </div>
      <div class="form-group">
        <label for="userFormPassword">密码</label>
        <input type="text" class="form-control" id="userFormPassword" name="userFormPassword" placeholder="请输入用户密码" [(ngModel)]="userForm.password">
      </div>
      <div class="form-group">
        <label for="userFormRole">角色</label>
        <div class="row" id="userFormRole">
          <div class="col-lg-2" *ngFor="let role of roleList">
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]=role.isSelected (change)="role.isSelected = !role.isSelected"> {{role.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" (click)="submit()">提交</button>
    </form>
  </div>
</div>


