.navbar {
  background-color: #0497D9;
  border: 0px;
}

.border-radius-0{
  border-radius: 0px;
}

.my-navbar-brand{
  color: #FFFFFF;
}
.my-navbar-brand:hover {
  color: #F1F1F1;
}

.my-btn-link {
  text-decoration: none;
}
.my-btn-link:hover {
  text-decoration: none;
}

