<nb-card>
  <nb-card-header>
    <span>
      <i class="ion ion-md-outlet text-danger"></i>
      <span> {{isEditMode?'修改角色':'添加角色'}}</span>
    </span>
    <nb-actions size="small" class="float-right">
      <nb-action icon="icon ion-md-close text-danger" routerLink="/home/role/list" routerLinkActive="active"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <form name="roleForm">
      <div class="form-group">
        <label for="roleFormName">名称</label>
        <input type="text" class="form-control" id="roleFormName" name="roleFormName" placeholder="请输入角色名称" [(ngModel)]="roleForm.name">
      </div>
      <div class="form-group">
        <label for="roleFormDescription">说明</label>
        <input type="text" class="form-control" id="roleFormDescription" name="roleFormDescription" placeholder="请输入角色说明" [(ngModel)]="roleForm.description">
      </div>
      <div class="form-group">
        <label for="roleFormPermission">权限</label>
        <div class="row" id="roleFormPermission">
          <nb-checkbox class="col-xxxl-3 col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-is-12"
                       *ngFor="let permission of permissionList"
                       [value]="permission['isSelected']"
                       (change)="permission.isSelected = !permission.isSelected">{{permission.value}}</nb-checkbox>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="full-width-flex-justify-content-flex-start">
    <button type="submit" class="btn btn-hero-success btn-icon" (click)="submit()">
      <i class="ion ion-md-checkmark"></i>
    </button>
  </nb-card-footer>
</nb-card>
